Node RED/flows.json
[
    {
        "id": "f258bac50c5c3410",
        "type": "tab",
        "label": "BME280",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f8cf9a186af0e256",
        "type": "mqtt in",
        "z": "f258bac50c5c3410",
        "name": "",
        "topic": "hivemq/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83b034970699901a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "32ab3a781119d79a",
                "30ea29a494bf58cd",
                "aa640f166813c1af"
            ]
        ]
    },
    {
        "id": "2571e64a41e38c26",
        "type": "mqtt in",
        "z": "f258bac50c5c3410",
        "name": "",
        "topic": "hivemq/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83b034970699901a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 340,
        "wires": [
            [
                "4bc9c379fd9f7745",
                "00befbd1ff0351e3",
                "faa799892d1278db"
            ]
        ]
    },
    {
        "id": "32ab3a781119d79a",
        "type": "ui_text",
        "z": "f258bac50c5c3410",
        "group": "0f6db970f58f0759",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Siste måling:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "4bc9c379fd9f7745",
        "type": "ui_chart",
        "z": "f258bac50c5c3410",
        "name": "",
        "group": "0f6db970f58f0759",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Luftfuktighet",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "00befbd1ff0351e3",
        "type": "ui_text",
        "z": "f258bac50c5c3410",
        "group": "0f6db970f58f0759",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Siste måling:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 380,
        "wires": []
    },
    {
        "id": "30ea29a494bf58cd",
        "type": "debug",
        "z": "f258bac50c5c3410",
        "name": "debug temp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "aa640f166813c1af",
        "type": "ui_chart",
        "z": "f258bac50c5c3410",
        "name": "",
        "group": "0f6db970f58f0759",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatur",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3434f423d4285593",
        "type": "comment",
        "z": "f258bac50c5c3410",
        "name": "Får verdier inn fra ESP32",
        "info": "",
        "x": 270,
        "y": 160,
        "wires": []
    },
    {
        "id": "faa799892d1278db",
        "type": "debug",
        "z": "f258bac50c5c3410",
        "name": "debug hum",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 420,
        "wires": []
    },
    {
        "id": "3c3e1412ab59b2a6",
        "type": "comment",
        "z": "f258bac50c5c3410",
        "name": "Viser mottatt data illustrativt",
        "info": "",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "83b034970699901a",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0f6db970f58f0759",
        "type": "ui_group",
        "name": "BME280",
        "tab": "28bd952101d92c0a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "28bd952101d92c0a",
        "type": "ui_tab",
        "name": "PROSJEKT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
